{% extends 'base.html.twig' %}

{% block title %}Hello EditionsController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; background: #aaa; color: black; padding: 5px 10px 10px 20px; border-radius: 20px}
        .example-wrapper code { padding: 2px 6px; }
        html, body{
            background: #222;
            color: #000;
            height: 90%;
        }
    </style>

    <div style="font: 30px sans-serif; background: #aaa; display: inline-block; border-radius: 4px">
        <a href="http://localhost:8000/user" style="text-decoration: none; color: #222">Users</a>
    </div>

    <div class="example-wrapper">
        <h1>{{ user.email }}</h1>
        <ul>
            <li>First name: {{ details.firstName }}</li>
            <li>Last name: {{ details.lastName }}</li>
            <li>Age: {{ details.age }}</li>
            <li>Register date: {{ details.registerDate|date('d/m/y h:m:s') }}</li>
            <li>Last login: {{ details.lastLogin|date('d/m/y h:m:s') }}</li>
        </ul>

        <a href="http://localhost:8000/user/{{ user.id }}/purchase" style="text-decoration: underline; color: #222">Purchases</a>

    </div>
{% endblock %}
