{% extends 'base.html.twig' %}

{% block title %}Festivals{% endblock %}

{% block stylesheets %}
    {% include 'nav_bar/index.html.twig' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background: radial-gradient(circle at center, #C33C3C, #D4A910);
            color: #eee;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .content-wrapper {
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .festival-wrapper {
            margin: 20px auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
            background: #f7e5cd;
            padding: 30px;
            border-radius: 15px;
            color: #222;
        }

        .festival-box {
            background: white;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            position: relative;
            border-left: 4px solid #D84315;
        }

        .festival-name {
            font-size: 1.5rem;
            color: #D84315;
            margin-bottom: 5px;
            font-weight: 600;
            text-decoration: none;
        }

        .festival-detail {
            color: #333;
        }

        .action-buttons {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            gap: 10px;
        }

        .btn-action {
            font-size: 0.9rem;
            color: white !important;
            border: none;
            border-radius: 6px;
            padding: 8px 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
        }
        .btn-action:hover {
            color: black !important;;
        }
        .btn-edit {
            background: dodgerblue;
        }
        .btn-edit:hover{
            color: black !important;
        }
        .btn-delete {
            background: #E74C3C;
        }
        .btn-delete:hover{
            color: black !important;
        }
        .add-btn {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 30px auto 10px;
            text-align: center;
            background: limegreen;
            border: none;
            border-radius: 8px;
            padding: 10px 25px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: white !important;
            text-decoration: none;
        }
        .add-btn:hover{
            color: black !important;
        }
        h1 {
            color: #D84315;
            margin-bottom: 30px;
            text-align: center;
            font-weight: 700;
        }

        .no-festivals {
            color: #555;
            text-align: center;
            padding: 30px;
            font-style: italic;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            gap: 8px;
            color: #D84315;
        }
        .black-hover:hover{
            color: black;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="festival-wrapper">
            <h1>Festivals</h1>

            <div class="festival-list">
                {% for festival in festivals %}
                    <div class="festival-box">
                        <div class="festival-info">
                            <a href="{{ path('editions_list', {'name': festival.name}) }}" class="festival-name black-hover" style="text-decoration: none">
                                {{ festival.name }}
                            </a>
                            <div class="festival-detail">Location: {{ festival.location }}</div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="action-buttons">
                                <a href="{{ path('edit_festival', {'id': festival.id}) }}" class="btn-action btn-edit" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                    </svg>
                                    Edit
                                </a>
                                <form action="{{ path('delete_festival', {'id': festival.id}) }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ festival.id) }}">
                                    <button type="submit" class="btn-action btn-delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        Delete
                                    </button>
                                </form>
                            </div>
                        {% elseif app.user %}
                            {% for edition in lastEditions %}
                                {% if edition.festivalId.id == festival.id and edition.endDate|date("Y-m-d") > "now"|date("Y-m-d") %}
                                    <div class="action-buttons">
                                        <a href="{{ path('buy_ticket', {'id': festival.id}) }}" class="btn-action add-btn" style="text-decoration: none;">
                                            <i class="fas fa-plus mr-2"></i>Buy ticket
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="no-festivals">
                        No festivals found.
                    </div>
                {% endfor %}
            </div>

            <div class="pagination d-flex">
                {{ knp_pagination_render(festivals) }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('add_festival') }}" class="add-btn" style="text-decoration: none">
                    <i class="fas fa-plus mr-2"></i>Add Festival
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
